@import "font-awesome.css";

/**************************************************************/
/*                   PEOPLE_PLUGIN_SETTINGS
/**************************************************************/

#people_acl_form fieldset label {
  display: block;
}
#people_acl_form fieldset div {
  max-height: 400px;
  overflow: auto;
}



/**************************************************************/
/*                   SHOW_PERSON_HEADER
/**************************************************************/


div.person_details {
  background:  #eee;
  padding: 6px;
  margin-bottom: 6px;
  border: 1px solid #d7d7d7;
}

div.person_details table.subject_header {
  width: 100%;
}

div.person_details table.subject_header h1 {
  margin-bottom: 0px;
}


div.person_details table.subject_header td.avatar {
  vertical-align: top;
  vertical-align: top;
  text-align: right;
  width: 70px;
}

div.person_details table.subject_header td.subject_info {
  padding-left: 15px;
  padding-right: 15px;
  border-left: 1px solid #D7D7D7;
  min-width: 200px;
  width: 200px;
}

div.person_details table.subject_header td.subject_info ul {
  list-style: none;
  padding-left: 0px;
}

div.person_details  table.subject_header td.subject_info li {
  line-height: 20px;
  white-space: nowrap;
}

/**************************************************************/
/*                   SHOW_PERSON_SIDEBAR
/**************************************************************/

#attributes ul {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}


/**************************************************************/
/*                   PERSON_DATA
/**************************************************************/
table.person_data {
  width: 100%;
}

table.person_data td.name {
  padding-left: 0px;
  vertical-align: top;
}

table.person_data td.avatar {
  vertical-align: top;
  width: 38px;
  padding: 10px 4px 0px 0px;
}

table.person_data td.name h4 {
  letter-spacing: -1px;
  margin: 7px 0 0 0;
  padding: 0;
  line-height: 1.1em;
  border-bottom: 0px;
}

/**************************************************************/
/*                   PEOPLE_LIST
/**************************************************************/


.people .vcard, .people .vcard .avatar img {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.people .vcard {
  background: #fff url(../images/logo.png) 24px 24px no-repeat;
  float: left;
  min-width: 350px;
  min-height: 180px;
  overflow: visible;
  margin: 15px 15px 60px ;
  padding: 30px;
  position: relative;
}

.people .vcard .avatar {
  position: absolute;
  bottom: -20px;
  left: 20px;
  z-index: 1;
}

.people .vcard .info {
  margin: 0 4px 0 70px
}

.people .vcard .info p {
  margin: 4px 0 0;
}

.people .vcard .info p.full_name {
  font-size: 26px;
  font-weight: bold;
  line-height: 26px;
}

.people .vcard .info p.full_name a {
  color: #000;
}

.people .vcard .info p.title {
  color: #b7b7b7;
  font-size: 22px;
  line-height: 22px;
}

.people .vcard .contacts {
  color: #000;
  font-size: 14px;
  float: right;
  margin: 30px 0 0;
  padding: 0;
  /*position: absolute;
  right: 30px;
  bottom: 40px;*/
}

.people .vcard .contacts li {
  list-style: none;
}

.people .vcard .contacts a {
  color: #000;
}

.people .vcard .contacts i {
  color: #ee3c23;
}



/**************************************************************/
/*                   PEOPLE_TABLE_LIST              */
/**************************************************************/

.live_search input.live_search_field {
  font-size: 16px;
}

table.people.index {
  border-top: 1px solid rgb(239, 239, 239);
  border-right: 1px solid rgb(239, 239, 239);
  border-left: 1px solid rgb(239, 239, 239);
  width: 100%;
  border-spacing: 0px 0px;
  margin-bottom: 4px;
}

table.people.index tr.selected{ background-color: #507AAA !important; color: #F8F8F8 !important;}
/*table.people.index tr.selected a { color: #F8F8F8 !important; } */
table.people.index tr.context-menu-selection h2 { color: #F8F8F8 !important; }
table.people.index tr.context-menu-selection td { color: #F8F8F8 !important; }
table.people.index tr.context-menu-selection span.tag a { border: 1px solid #EFEFEF; padding: 2px 3px; }
table.people.index tr.context-menu-selection span.deal-status { border: 1px solid #EFEFEF; padding: 2px 3px; }

table.people.index tbody tr:hover { background-color:#ffffdd; }

table.people.index td {
  vertical-align: top;
  color: #666;
  font-size: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #efefef;
}

table.people.index td.checkbox { padding: 12px 0px 0px 5px; }
table.people.index td.name { width: 50%; padding-right: 10px;}
table.people.index td.info { width: 50%; padding-right: 5px; }
table.people.index td.avatar {padding: 10px 10px 10px 5px;}

table.people.index th {padding: 5px 10px 5px 0px; border-bottom: 1px solid #efefef; vertical-align: top;}
table.people.index th.title {text-align: right;}
table.people.index th.sum {text-align: left;}

table.people.deals.index td.avatar {padding: 10px 10px 10px 10px;}


/*table.people.index td.avatar {margin-left: 50px;}*/

table.people.index td.name h1 { font-size: 20px; font-weight: normal;
  margin: 0;
  padding: 0;
}

table.people.index td.name h1.deal_name {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

table.people.index td.name h1.selected { background-color: #ffb;}
table.people.index td.name h2.selected { background-color: #ffb;}

table.people.index td.name h2 {
  font-size: 13px;
  color: #777;
  font-weight: normal;
  line-height: 140%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

div.Right td.name div.info {
  padding-top: 3px;
  margin-left: 42px;
}
/*#edit_tags_form {display: block;  margin-top: 10px;}*/
.notes div.contextual {vertical-align: top;}

div#people_groups ul {
  list-style: none;
  padding-left: 0px;
}

div.internal_fields, div.external_fields {
  padding: 20px 0;
}
